<!-- AGENCY STATUS -->
{% set as_link = "/about" %}
<div class="table-responsive-sm">
    <table class="table">
        <caption><a href="{{ as_link }}">Agency Status</a></caption>
        <tr>
            <th data-toggle="tooltip" title="U.S. Fish and Wildlife Service (USFWS)"><a href="{{ as_link }}#usfws">USFWS</a></th>
            <th data-toggle="tooltip" title="State of New Mexico (NM)"><a href="{{ as_link }}#state-of-nm">State of NM</a></th>
            <th data-toggle="tooltip" title="U.S. Forest Service (USFS)"><a href="{{ as_link }}#usfs">USFS</a></th>
            <th data-toggle="tooltip" title="Bureau of Land Management (BLM)"><a href="{{ as_link }}#blm">BLM</a></th>
            <th><a href="{{ as_link }}#navajo">Navajo Nation</a></th>
            <th data-toggle="tooltip" title="Heritage State Conservation Rank"><a href="{{ as_link }}#state-rank">State Rank</a></th>
            <th data-toggle="tooltip" title="NatureServe Global Conservation Rank"><a href="{{ as_link }}#global-rank">Global Rank</a></th>
            <th data-toggle="tooltip" title="Rarity-Endangerment-Distribution:<br>1 (least), 2, or 3 (most)" data-html="true"><a href="{{ as_link }}#red-code">R-E-D Code</a></th>
            <th data-toggle="tooltip" title="New Mexico Rare Plant Technical Council (NMRPTC)"><a href="{{ as_link }}#nmrptc">NMRPTC Status</a></th>
            <th><a href="{{ as_link }}#strategy">Strategy Status</a></th>
        </tr>
        <tr>
            <td data-toggle="tooltip" title="{{ node.field_fedstatusinnm[0].entity.description.value }}" data-html="true">{{  content.field_fedstatusinnm.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_statestatus[0].entity.description.value }}" data-html="true">{{  content.field_agency_statestatus.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_usfs[0].entity.description.value }}" data-html="true">{{  content.field_agency_usfs.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_blm[0].entity.description.value }}" data-html="true">{{  content.field_agency_blm.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_navajo[0].entity.description.value }}" data-html="true">{{  content.field_agency_navajo.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_staterank[0].entity.description.value }}" data-html="true">{{  content.field_agency_staterank.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_agency_globalrank[0].entity.description.value }}" data-html="true">{{  content.field_agency_globalrank.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_redcode[0].entity.description.value }}" data-html="true">{{  content.field_redcode.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_nmrptcstatus[0].entity.description.value }}" data-html="true">{{  content.field_nmrptcstatus.0 }}</td>
            <td data-toggle="tooltip" title="{{ node.field_strategy_species[0].entity.description.value }}" data-html="true">{{  content.field_strategy_species.0 }}</td>
        </tr>
    </table>
</div>