{#
node--plant-species--teaser.html.twig

Tips:
{{ dump() }}
{{ dump(variable_name) }}
{{ dump(_context|keys) }}
#}

{{ dump() }}

{{ attach_library('nmrp_subtheme/taxon') }}

<article{{ attributes }}>

    <div{{ content_attributes }}>

        <!-- DEFAULT IMAGE -->
        {% set defaultimg = node.field_plant_images[0] %}
        {% for key, item in node.field_plant_images %}
            {% if (node.field_plant_images[key].entity.field_primary_photo[0].value == '1') %}
                {% set defaultimg = node.field_plant_images[key] %}
            {% endif %}
        {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="{% if defaultimg %}col-lg-2{% endif %}">
                    <!-- PRIMARY PHOTO -->
                    <figure>
                        <a href="/node/{{ node.nid.0.value }}">
                        {{ {
                            '#theme':      'image_style',
                            '#style_name': 'nmrp_thumbnail',
                            '#attributes': { class: 'img-responsive img-thumbnail' },
                            '#uri':        defaultimg.entity.field_media_image[0].entity.uri.value,
                            } }}
                        </a>
                        <figcaption>
                            {% if defaultimg.entity.field_photographer.value != null %}
                            <cite>{{ defaultimg.entity.field_photographer.value }}</cite>
                            {% endif %}
                        
                            {% if defaultimg.entity.field_copyright_date.value != null %}
                            ({{ defaultimg.entity.field_copyright_date.value|date("Y") }})
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
                <div class="{% if defaultimg %}col-lg-10{% else %}col-lg-12{% endif %}">
                    <h2 class="node-page-title">
                        <a href="/node/{{ node.nid.0.value }}">{{ node.title.0.value }}</a>
                    </h2>

                    <p>{{  node.field_description.0.value|length > 250 ? node.field_description.0.value|striptags|slice(0, 250) ~ '...' : node.field_description.0.value|striptags }}</p>

                    <!-- AGENCY STATUS -->
                    {% include '@nmrp_subtheme/includes/agency-status.html.twig' %}

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr/>
                </div>
            </div>
            
        </div>

    </div> <!-- END CONTENT ATTRIBUTES -->



    {#
    <h2>Context</h2>
    <ol>
        {% for key, value in _context  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>

    <h2>Content</h2>
    <ol>
        {% for key, value in content  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>

    <h2>Node</h2>
    <ol>
        {% for key, value in node  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>
    #}

</article>
