{#
node--plant-species--full.html.twig

Tips:
{{ dump() }}
{{ dump(variable_name) }}
{{ dump(_context|keys) }}
#}

{{ attach_library('nmrp_subtheme/taxon') }}

<article{{ attributes }}>

    <div{{ content_attributes }}>

        <!-- DEFAULT IMAGE -->
        {% set defaultimg = node.field_plant_images[0] %}
        {% for key, item in node.field_plant_images %}
            {% if (node.field_plant_images[key].entity.field_primary_photo[0].value == '1') %}
                {% set defaultimg = node.field_plant_images[key] %}
            {% endif %}
        {% endfor %}

        <!-- THUMBNAIL IMAGES -->
        {% if node.field_plant_images|length > 0 %}
        <div id="thumb_selector" style="margin-bottom: 20px;">
            <ul class="thumb_album">
                {% for key, item in node.field_plant_images|reverse(true) %}
                    {% set imagestyle = {
                        '#theme':      'image_style',
                        '#style_name': 'nmrp_thumbnail',
                        '#attributes': { class: 'img-responsive img-thumbnail' },
                        '#uri':        node.field_plant_images[key].entity.field_media_image[0].entity.uri.value,
                        }
                    %}
                    <li id="thumb_img_{{ key }}">
                        <a href="{{ file_url(node.field_plant_images[key].entity.field_media_image[0].entity.uri.value) }}" class="nmrp-img" data-copyright='{% if node.field_plant_images[key].entity.field_copyright_date.value != null %}{{ node.field_plant_images[key].entity.field_copyright_date.value|date("Y") }}{% endif %}'
                           data-photographer="{% if node.field_plant_images[key].entity.field_photographer.value != null %}{{ node.field_plant_images[key].entity.field_photographer.value }}{% endif %}">
                            {{ imagestyle }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- END THUMBNAIL IMAGES -->

        <h1 class="node-page-title">{{ node.title.0.value }}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="{% if defaultimg %}col-lg-5{% endif %}">
                    <!-- PRIMARY PHOTO -->
                    <figure>
                        <a href="{{ file_url(defaultimg.entity.field_media_image[0].entity.uri.value) }}" class="nmrp-img"
                           data-copyright='{% if defaultimg.entity.field_copyright_date.value != null %}{{ defaultimg.entity.field_copyright_date.value|date("Y") }}{% endif %}'
                           data-photographer="{% if defaultimg.entity.field_photographer.value != null %}{{ defaultimg.entity.field_photographer.value }}{% endif %}">
                        {{ {
                            '#theme':      'image_style',
                            '#style_name': 'nmrp_large',
                            '#attributes': { class: 'img-responsive img-thumbnail' },
                            '#uri':        defaultimg.entity.field_media_image[0].entity.uri.value,
                            } }}
                        </a>
                        <figcaption>
                            {% if defaultimg.entity.field_photographer.value != null %}
                            Photograph by <cite>{{ defaultimg.entity.field_photographer.value }}</cite>
                            {% endif %}

                            {% if defaultimg.entity.field_copyright_date.value != null %}
                            ({{ defaultimg.entity.field_copyright_date.value|date("Y") }})
                            {% endif %}
                        </figcaption>
                    </figure>


                </div>
                <div class="{% if defaultimg %}col-lg-7{% else %}col-lg-12{% endif %}">
                    <button class="print__button" onclick="callPrint()">Print</button>
                    <!-- FAMILY -->
                    <div class="field field--label-inline field--name-field-family">
                        <div class="field__label">{{ node.field_family.fieldDefinition.label }}</div>
                        <div class="field__item">{{  node.field_family.0.entity.name.value }}</div>
                    </div>

                    {{  content.field_scinamewithauthor }}
                    {{  content.field_synonyms }}
                    {{  content.field_commname }}

                    <!-- AGENCY STATUS -->
                    {% include '@nmrp_subtheme/includes/agency-status.html.twig' %}

                    <!-- CONSERVATION STATUS-->
                    {% if node.field_strategy_species.0.entity.name.value == 'SS' %}
                    <div class="table-responsive">
                        <table class="table">
                            <caption><a href="https://nhnm.unm.edu/sites/default/files/nonsensitive/NM_Plant_Score_Card_with_Common_Name.xlsx">Rare Plant Conservation Scorecard Summary</a></caption>
                            <tr>
                                {% if not content.field_strategy_overallstatus.0 == '' %}
                                <th>{{ content.field_strategy_overallstatus['#title'] }}</th>
                                {% endif %}

                                {% if not content.field_strategy_threats.0 == '' %}
                                <th>{{ content.field_strategy_threats['#title'] }}</th>
                                {% endif %}

                                {% if not content.field_strategy_actions.0 == '' %}
                                <th>{{ content.field_strategy_actions['#title'] }}</th>
                                {% endif %}
                            </tr>
                            <tr>
                                {% if not content.field_strategy_overallstatus.0 == '' %}
                                <td>{{ content.field_strategy_overallstatus.0 }}</td>
                                {% endif %}

                                {% if not content.field_strategy_threats.0 == '' %}
                                <td>{{ content.field_strategy_threats.0 }}</td>
                                {% endif %}

                                {% if not content.field_strategy_actions.0 == '' %}
                                <td>{{ content.field_strategy_actions.0 }}</td>
                                {% endif %}

                            </tr>
                        </table>
                    </div>

                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="{% if node.field_county_thumbnail.0 or content.field_counties.0 %}col-lg-2{% endif %}">

                    <!-- COUNTY THUMBNAIL -->
                    {% if node.field_county_thumbnail.0 %}
                    {% set map_link = node.field_county_map.0 ? file_url(node.field_county_map.0.entity.uri.value) : '#' %}
                    <a href="{{ map_link }}" class="nmrp-img">
                        <img src="{{ file_url(node.field_county_thumbnail.0.entity.uri.value) }}" alt="County Map" />
                    </a>
                    {% endif %}

                    <!-- COUNTY LIST -->
                    {% if content.field_counties[0] %}
                    <div class="field field--name-field-counties">
                        <div class="field__label">{{ node.field_counties.fieldDefinition.label }}</div>
                        <div class="field__item">
                            <ul>
                            {% for key, item in content.field_counties if key|first != '#' %}
                                <li><a href="{{ content.field_counties[key]['#url'] }}">{{ content.field_counties[key]['#title'] }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="{% if node.field_county_thumbnail.0 or content.field_counties.0 %}col-lg-10{% else %}col-lg-12{% endif %}">
                    {{  content.field_description }}
                    {{  content.field_similarspecies }}
                    {{  content.field_distribution }}
                    {{ content.field_habitat }}
                    {{ content.field_remarks }}
                    {{ content.field_conservation }}
                    {{ content.field_important_literature }}
                    {{ content.field_compiler }}

                    {# if node.field_element_subnational_id.0.value != '' #}
                    <p><a target="_blank" href="https://nhnm.unm.edu/bcd/species/{{node.field_element_subnational_id.0.value}}">For distribution maps and more information, visit Natural Heritage New Mexico</a></p>
                    {# endif #}

                </div>
            </div>
        </div>

    </div> <!-- END CONTENT ATTRIBUTES -->

    <!-- IMAGE OVERLAY MODAL -->
    <div id="nmrp-img-overlay" class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- END IMAGE OVERLAY MODAL -->


    {#

    <h2>Context</h2>
    <ol>
        {% for key, value in _context  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>

    <h2>Content</h2>
    <ol>
        {% for key, value in content  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>

    <h2>Node</h2>
    <ol>
        {% for key, value in node  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>
    #}

</article>

